@import "tailwindcss";

@theme inline {
  --color-card-title: #1f1f1f;
  --color-card-metadata: #5e5e5e;
  --color-tabs-active: #007b8b;
  --color-tabs-active-hover: #01a0b5;
  /* --color-tabs-active-hover: #000000; */
  --color-tabs-unactive: #5e5e5e;
}

body {
  font-family: Helvetica;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.image-carousel-btn {
  @apply bg-white/70 hover:bg-white rounded-full p-1 transition-colors cursor-pointer;
}

.card-title {
  @apply text-2xl text-left text-card-title;
}

.card-metadata {
  @apply text-card-metadata text-sm;
}

.tabs-active {
  @apply text-sm text-tabs-active;
}

.tabs-unactive {
  @apply text-sm text-tabs-unactive
}

.btn-active {
  @apply p-3 rounded-full bg-tabs-active flex flex-col items-center justify-center cursor-pointer hover:bg-tabs-active-hover transition-colors;
}

.btn-unactive {
  @apply p-3 rounded-full bg-[#d3f7ff] flex-col items-center justify-center cursor-pointer hover:brightness-90 duration-150 transition-all;
}

.btn-text {
  @apply text-xs font-semibold text-tabs-active transition-colors;
}